// .babelrc
{
    "presets": [
        "@babel/react",
        [
            "@babel/preset-react",
            {
                "runtime": "automatic"
            }
        ],
        "@babel/typescript",
        [
            "@babel/env",
            {
                "modules": false
            }
        ]
    ],
    "plugins": [
        [
            "@babel/plugin-proposal-decorators",
            {
                "legacy": true
            }
        ]
    ]
}