.podcast-detail-container {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  align-items: flex-start;
}

.podcast-chapters-list {
  width: calc(100% - 360px);
  margin-bottom: 40px;
}

.player-container {
  box-shadow: var(--pc-box-shadow);
  padding: 20px;
}

.player {
  margin-top: 20px;
  width: 100%;
}
