.podcast-summary {

    box-shadow: 1px 2px 8px 1px #353c471a;
    border-radius: 4px;
    width: 280px;

    background-color: var(--pc-background-0);
}

.artwork {
    width: 200px;
    height: 200px;
}

.podcast-detail-container {
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
    align-items: flex-start;


}